<!--View Information-->
<!--View name : Note List-->
<!--Controller name : noteListCtrl-->
<!--Controller path : www/templates/application-storage/local-application-db/js/controllers.js-->
<!--State name : app.notelist-->
<!--URL : #app/notelist-->

<ion-view title="Funds">
    <!--right button on navigation bar-->
    <ion-nav-buttons side="right">
        <md-button ng-disabled="isLoading" class="md-icon-button ion-nav-button-right" ng-click="navigateTo('app.notesetting')"
                   aria-label="Setting">
            <i class="ion-android-more-vertical"></i>
        </md-button>
    </ion-nav-buttons><!--end right button on navigation bar-->
    
    
    <!--note list section-->
    <ion-content id="note-list-content" class="fade-in">
        <!--list section-->
        <md-list>
            <!--list item section-->
            <md-list-item>
                <md-input-container md-no-float="" class="search-box">
                    <i class="ion-android-search"></i>
                    <input ng-model="filterText" placeholder="Search for notes.">
                </md-input-container>
            </md-list-item>

                <md-divider></md-divider>
                
                <md-subheader>12 funds found</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="fund in fundList | filter: { title: filterText } | orderBy: 'title'">
                    <img ng-src="{{'img/app_icon.png'}}" class="md-avatar"/>

                    <div class="md-list-item-text">
                        <h3>{{fund.title}}</h3>

                        <p>Detail ....</p>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
               
        </md-list>
        <!--end list section-->
    </ion-content><!--end note list section-->

    <!--footer fab bar-->
    <div class="footer-fab-bar">
        <a class="md-button md-accent md-fab fab-footer" ng-click="navigateTo('app.notedetail')" aria-label="Add">
            <i class="ion-android-create"></i>
        </a>
    </div><!--end footer fab bar-->

    <!--loading progress-->
    <div id="note-list-loading-progress" class="loading-progress fade-in">
        <ion-spinner ng-if="!isAndroid" class="progress-circular"></ion-spinner>
        <md-progress-circular ng-if="isAndroid" md-mode="indeterminate"></md-progress-circular>
    </div><!--end loading progress-->
</ion-view>