<!--View Information-->
<!--View name : Menu-->
<!--Controller name : menuCtrl-->
<!--Controller path : www/templates/menu/js/controllers.js-->
<!--State name : app-->
<!--URL : #app-->

<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" ng-click="toggleLeft()"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->
            <div class="menu-left-header">
                <img class="user-img" src="img/nexus-logo-draft.png">

                <p>
                    <span class="title">Alex Lee</span>
                    <br/>
                    <span class="sub-title">joined in 2009</span>
                </p>
            </div><!--end menu header section-->
        </div> <!--menu content section-->
        <ion-content id="toggle-menu-left-content">

            <!--If device is android application will present below code.-->
            <!--It will disable animation to better performance on android.-->
            <!--list section-->
            <div ng-if="isAndroid" class="menu-list">
                <md-subheader class="md-warn">Nexus platform</md-subheader>
                <div class="row menu-item" ng-click="navigateTo('app.dashboard')">
                    <div class="col-33">
                        <i class="fa fa-cube"></i>
                    </div>
                    <div class="col-66">
                        <span>Your Portfolio</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.funds')">
                    <div class="col-33">
                        <i class="fa fa-database"></i>
                    </div>
                    <div class="col-66">
                        <span>Funds</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.contractlist')">
                    <div class="col-33">
                        <i class="fa fa-sliders"></i>
                    </div>
                    <div class="col-66">
                        <span>Your Details</span>
                    </div>
                </div>
             
            </div>


            <!--If device is not Android application will present below code.-->
            <!--It will show animation when selecting row.-->
            <md-list ng-if="!isAndroid">
                <md-subheader class="md-warn">Nexus platform</md-subheader>
               
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.dashboard')">
                    <i class="fa fa-cube"></i>
                    <span>Your Portfolio</span>
                </md-list-item>

                <md-list-item class="menu-list-item" ng-click="navigateTo('app.funds')">
                    <i class="fa fa-database"></i>
                    <span>Funds</span>
                </md-list-item>
                <md-list-item class="menu-list-item" ng-click="navigateTo('app.facebookLogin')">
                    <i class="fa fa-facebook"></i>
                    <span>Your Details</span>
                </md-list-item>
                
                <md-subheader class="md-warn">Others</md-subheader>
                 <md-list-item class="menu-list-item" ng-click="navigateTo('app.defaultUI')">
                    <i class="fa fa-bookmark-o"></i>
                    <span>Default UI</span>
                </md-list-item>
            </md-list>
            <!--end list section-->
        </ion-content><!--end menu content section-->
        <!--end menu section-->

    </md-sidenav>
</ion-side-menus>
