<!--View Information-->
<!--View name : Dashboard Setting-->
<!--Controller name : dashboardSettingCtrl-->
<!--Controller path : www/templates/material-user-interface/dashboard/js/controllers.js-->
<!--State name : app.dashboardSetting-->
<!--URL : #app/dashboardSetting-->

<ion-view title="">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back "></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->
	<!--toolbar section-->
    <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium">
        <div>
            <h1>Add a new transaction</h1>

        </div>
    </md-toolbar><!--end toolbar section-->

    <ion-content scroll="false" id="dashboard-content">
      <div class="row">
          <div class="col text-center">
                  <a class="md-button md-accent md-fab" aria-label="Shop" ng-click="navigateTo('app.txfundselection', 'txtype', 'buy')">
                      <i class="fa fa-shopping-cart"></i>
                  </a>
                </div>
          <div class="col text-center">

                  <a class="md-button md-accent md-fab" aria-label="Call">
                      <i class="ion-android-call"></i>
                  </a>
          </div>
    </div>


    </ion-content>
</ion-view>
