<!--View Information-->
<!--View name : Dashboard Setting-->
<!--Controller name : dashboardSettingCtrl-->
<!--Controller path : www/templates/material-user-interface/dashboard/js/controllers.js-->
<!--State name : app.dashboardSetting-->
<!--URL : #app/dashboardSetting-->

<ion-view title="Choose your transaction">
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back "></i>
        </a>
    </ion-nav-buttons><!--end left button on navigation bar-->

    <ion-content class="full-screen-content">

      <!--  <div class="row">
            <div class="col-50 text-center">

                    <a class="big-button" aria-label="Buy" ng-click="navigateTo('app.txfundselection', 'txtype', 'buy')">
                        <i class="fa fa-shopping-cart"></i><br/><br/>
                        Buy
                    </a>
                  </div>
            <div class="col-50 text-center">

              <a class="big-button" aria-label="Sell" ng-click="navigateTo('app.txfundselection', 'txtype', 'sell')">
                  <i class="fa fa-money"></i><br/><br/>
                  Sell
              </a>
            </div>
        </div>-->
        <div class="row">
          <div class="col text-center">
            <a class="big-button" aria-label="Sell" ng-click="navigateTo('app.txfundselection', 'txtype', 'buy')">
              <i class="fa fa-shopping-cart"></i><br/><br/>
              Buy
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <a class="big-button" aria-label="Sell" ng-click="navigateTo('app.txfundselection', 'txtype', 'sell')">
                <i class="fa fa-money"></i><br/><br/>
                Sell
            </a>
          </div>
        </div>

    </ion-content>
</ion-view>
