<!--View Information-->
<!--View name : Dashboard-->
<!--Controller name : dashboardCtrl-->
<!--Controller path : www/templates/material-user-interface/dashboard/js/controllers.js-->
<!--State name : app.dashboard-->
<!--URL : #app/dashboard-->

<ion-view view-title="Your Nexus Dashboard"  ng-init="loadPortfolio()">

    <!--right button on navigation bar-->
    <ion-nav-buttons side="right">
        <md-button class="md-icon-button ion-nav-button-right" ng-click="goToSetting()"
                   aria-label="Setting">
            <i class="ion-android-more-vertical"></i>
        </md-button>
    </ion-nav-buttons> <!--end right button on navigation bar-->

    <!--toolbar section-->
    <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium">
        <div>
            <h1>RM254,333.90</h1>

            <h2>Current Investment Amount</h2>
        </div>
        <a class="md-button md-accent md-fab fab-toolbar-medium" ng-click="navigateTo('app.txtype')"
           aria-label="Add">
            <i class="icon ion-plus"></i>
        </a>

    </md-toolbar><!--end toolbar section-->


    <!--dashboard section-->
    <ion-content id="dashboard-content">
    <md-subheader class="md-warn">Portfolio</md-subheader>
	
	<!-- Investment portfolio pie chart -->
	<canvas class="chart chart-pie"
	chart-data="data" chart-labels="labels" chart-colors="chart_colors" chart-options="clientFundDataOptions"></canvas>
	<!-- end of Investment portfolio pie chart  -->


        <!--list section-->

        <!--Below code it will disable animation to better performance-->
        <div ng-if="!isAnimated" class="menu-list">
            <md-subheader class="md-warn">Pending Transactions</md-subheader>
            <div class="row menu-item"  ng-click="navigateTo('app.contractlist')">
                <div class="col-25">
                    <i class="fa fa-money"></i>
                </div>
                <div class="col-75">
                    <span>Kenanga Growth Fund</span><br/>
                    <span>Bought 10,000 units</span>
                </div>
            </div>
            <div class="row menu-item" ng-click="navigateTo('app.notelist')">
                 <div class="col-25">
                    <i class="fa fa-money"></i>
                </div>
                <div class="col-75">
                    <span>CIMB Growth Fund</span><br/>
                    <span>Bought 21,000 units</span>
                </div>
            </div>
            <md-subheader class="md-warn">Recent Transactions</md-subheader>
            <div class="row menu-item"  ng-click="navigateTo('app.wordpressLogin')">
                <div class="col-25">
                    <i class="fa fa-sign-out"></i>
                </div>
                <div class="col-75">
                    <span>Kenanga Growth Fund</span><br/>
                    <span>Sold 10,000 units</span>
                </div>
            </div>
            <div class="row menu-item"  ng-click="navigateTo('app.facebookLogin')">
                <div class="col-25">
                    <i class="fa fa-sign-out"></i>
                </div>
                <div class="col-75">
                    <span>HSBC Growth Fund</span><br/>
                    <span>Sold 10,000 units</span>
                </div>
            </div>

        </div>


        <!--end list section-->
    </ion-content><!--end dashboard section-->
</ion-view>
